<mat-tab-group>
  <mat-tab label="ŞİRKET" class="tab tab-first">

  </mat-tab>



  <mat-tab label="DEPARTMAN" class="tab tab-second">
    <mat-form-field class="form-input">
      <mat-label>Departmanlar</mat-label>
      <mat-select
        matInput
        placeholder="Departman"
        [(ngModel)]="departmentSelection"
        (selectionChange)="onDepartmentChange()"
      >
        <mat-option *ngFor="let department of groupByDepartment" [value]="department.department">
          {{ department.department }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-tab>



  <mat-tab label="KİŞİ" class="tab tab-third">
    <mat-form-field class="form-input">
      <mat-label>Kişiler</mat-label>
      <mat-select
        matInput
        placeholder="Kişi"
        [(ngModel)]="personSelectionId"
        (selectionChange)="onPersonChange()"
      >
        <mat-option *ngFor="let person of personList" [value]="person.id">
          {{ person.id + ". " + person.name + " / " + person.occupation }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
