.toolbar-title {
  margin: 1rem 0;
}

input[type="file"] {
  visibility: hidden;
}

.form-input {
  width: 100%;
}

mat-spinner
{
  margin: auto;
}

.icon-check-circle {
  color: green;
}

.icon-remove-circle {
  color: red;
}

.button-print {
  width: 100%;
}
