<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
      <mat-icon>menu</mat-icon>
  </button>
  <span>
    <img mat-card-md-image class="img img-logo" src="assets/images/ceviz_bilgeligi_logo_yatay.png" alt="Ceviz Bilgeliği">
  </span>
  <span class="toolbar-item-spacer"></span>

</mat-toolbar>


<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened [class.mat-elevation-z4]="true" class="app-sidenav">
    <mat-nav-list>
      <mat-list-item mat-button routerLink="ana-sayfa">
        <div class="d-flex align-items-center">
          <mat-icon>home</mat-icon>
          <span>Ana Sayfa</span>
        </div>
      </mat-list-item>

      <mat-list-item  mat-button routerLink="dosya-yukleme">
        <div class="d-flex align-items-center">
          <mat-icon>upload</mat-icon>
          <span>Dosya Yükleme</span>
        </div>
      </mat-list-item>

      <mat-list-item  mat-button routerLink="dosya-listesi">
        <div class="d-flex align-items-center">
          <mat-icon>list</mat-icon>
          <span>Dosya Listesi</span>
        </div>
      </mat-list-item>

      <mat-list-item  mat-button routerLink="kisi-listesi">
        <div class="d-flex align-items-center">
          <mat-icon>person</mat-icon>
          <span>Kişi Listesi</span>
        </div>
      </mat-list-item>

      <mat-list-item  mat-button [matMenuTriggerFor]="graphicsMenu">
        <div class="d-flex align-items-center">
          <mat-icon>bar_chart</mat-icon>
          <span>Grafikler</span>
          <mat-icon style="margin-left: auto;">keyboard_arrow_down</mat-icon>
        </div>
      </mat-list-item>


      <mat-menu #graphicsMenu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="grafikler/sirket">
          <mat-icon>business</mat-icon>
          <span>Şirket</span>
        </button>
        <button mat-menu-item routerLink="grafikler/departman">
          <mat-icon>supervisor_account</mat-icon>
          <span>Departman</span>
        </button>
        <button mat-menu-item routerLink="grafikler/kisi">
          <mat-icon>perm_identity</mat-icon>
          <span>Kişi</span>
        </button>
      </mat-menu>

      <!--
      <mat-list-item  mat-button routerLink="rapor">
        <div class="d-flex align-items-center">
          <mat-icon>file_copy</mat-icon>
          <span>Raporlama</span>
        </div>
      </mat-list-item>
      -->

      <!--
      <mat-list-item  mat-button routerLink="yazdir">
        <div class="d-flex align-items-center">
          <mat-icon>print</mat-icon>
          <span>Yazdır</span>
        </div>
      </mat-list-item>
      -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-sidenav-content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
