.toolbar-item-spacer {
  flex: 1 1 auto;
}

.card-logo {
  background-color: transparent;
  box-shadow: none;
}

.app-container {
  height: 100vh;
  margin: 0;
}

.app-sidenav {
  width: 12rem;
  background-color: whitesmoke;
}

.mat-mdc-list-item:hover {
  background-color: whitesmoke;
  transition: 0.3 ease-in;
}
